@using global::Shared.Interfaces.Repository
@using global::Shared.Interfaces.Services
@using Post = Data.Entity.Post
@using Web.Pages.Classes;

@inject IUserService _userService
@inject IDataStore<Post> _postStore
@{

    var userId = _userService.GetCurrentUserId(User);
    var posts = _postStore.GetByUserId(userId).ToList();
}

<div class="row">
    <div class="col-md-12">
        <a class="nav-link active" id="profile" asp-page="/Account/Manage/Index" asp-area="Identity">Click here to Manage your account </a>
    </div>
    
    @{
        if (posts.Any())
        {
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-writing-tab" data-bs-toggle="tab" data-bs-target="#nav-writing" type="button" role="tab" aria-controls="nav-writing" aria-selected="true">Writings</button>
                        <button class="nav-link" id="nav-notification-tab" data-bs-toggle="tab" data-bs-target="#nav-notification" type="button" role="tab" aria-controls="nav-notification" aria-selected="false">Notifications</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show @WritingLinks.SetEditPageActive(ViewContext)" id="nav-writing" role="tabpanel" aria-labelledby="nav-writing-tab">
                        <ul class="nav nav-pills flex-column">
   
                            @{
                                foreach (var post in posts)
                                {
                                    <li class="nav-item"><a class="nav-link" id="@post.Title" asp-page="/EditPost" asp-route-id="@post.Id">@post.Title</a></li>
                                }
                            }
                        </ul>
                    </div>

                    <div class="tab-pane fade show @WritingLinks.SetNotificationPageActive(ViewContext)" id="nav-notification" role="tabpanel" aria-labelledby="nav-notification-tab">
                        <ul class="nav nav-pills flex-column">
                            @{
                                foreach (var post in posts)
                                {
                                    <li class="nav-item"><a class="nav-link" id="@post.Title" asp-page="/Notifications" asp-route-id="@post.Id">@post.Title</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    }

</div>
