@page "{id}"
@using Web.Pages.Classes
@model Web.Pages.BlogPostModel
@{
    ViewData["Title"] = "BlogPost";
    ViewData["ActivePage"] = BreadCrumbs.BlogPost;

}


<div class="blogPost mt-5 mb-5">
    <div class="header">
        <img src="~/lib/images/blogpost.jpg" alt="@Model.BlogPost.CreatedBy" asp-append-version=true>
        <p><span>@Model.BlogPost.CreatedBy.</span> @Extend.GetConvertedDate(@Model.BlogPost.CreatedOn)</p>
        <h6 class="display-6 text-sm-start">@Model.BlogPost.Description</h6>
    </div>

    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-12">
            <div class="card writePostCard">
                <div class="justify-content-between p-2 px-3">
                    <div class="flex-column align-items-center">
                        <div class="content text-justify text-center">
                            <p class="fs-3">@Html.Raw(@Model.BlogPost.Content) </p> 
                        </div>
                        @*<div class="p-2">
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-row icons d-flex align-items-center">
                            <i class="fa fa-heart"></i>
                            </div>

                            <div class="d-flex flex-row muted-color">
                            <span>
                            2 likes
                            </span>

                            <span>
                            2 comments
                            </span>
                            </div>
                            </div>

                            <hr>

                            <div class="comments">
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-column ml-2 ms-5 user-part">
                            <span class="name">Yinka Adegnaju</span>
                            <small class="comment-text"> I like this a lot</small>

                            </div>
                            <div class="flex-row align-items-center status">
                            <small>
                            18 mins ago
                            </small>
                            </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-column ml-2 ms-5 user-part">
                            <span class="name">Yinka Adegnaju</span>
                            <small class="comment-text"> I like this a lot</small>

                            </div>
                            <div class="flex-row align-items-center status">
                            <small>
                            18 mins ago
                            </small>
                            </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-column ml-2 ms-5 user-part">
                            <span class="name">Yinka Adegnaju</span>
                            <small class="comment-text"> I like this a lot</small>

                            </div>
                            <div class="flex-row align-items-center status">
                            <small>
                            18 mins ago
                            </small>
                            </div>
                            </div>

                            <div class="comment-input">
                            <div class="flex-row align-items-center">
                            <div class="d-flex flex-column ml-2">
                            <form method="post" class="form-check">

                            <label asp-for="CommentUser.CreatedBy"></label>

                            <input asp-for="CommentUser.CreatedBy" class="form-control" />
                            <span asp-validation-for="CommentUser.CreatedBy" class="text-danger"></span>

                            <textarea class="form-control" placeholder="Write a comment..." asp-for="CommentUser.Content"></textarea>

                            <span asp-validation-for="CommentUser.CreatedBy" class="text-danger"></span>

                            <button class="contact1-form-btn" type="submit">
                            <span>
                            Send
                            </span>
                            </button>

                            </form>

                            </div>
                            </div>
                            </div>
                            </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
