@page
@using Web.Pages.Classes
@model Web.Pages.FriendsModel
@{
    ViewData["Title"] = "Connections";
    ViewData["ActivePage"] = BreadCrumbs.Connections;
}

<hr />
<div class="container">
    @if (Model.CanShowLink)
    {
        <p class="fs-5">Please, consider being a part of my connection. <a asp-page="/Account/Manage/Index" asp-area="Identity">Click Here</a> </p>
    }

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2 g-md-2 g-lg-3">

        @{
            foreach (var fileInfo in Model.GoggleDriveFiles.OrderBy(x => x.FullName))
            {
                <div class="col p-3">
                    <div class="card connect p-3">
                        <div class="d-flex h-130">
                            <div class="image w-50">
                                @if (!string.IsNullOrEmpty(fileInfo.ImageLink))
                                {
                                    <img src="@fileInfo.ImageLink" alt="@fileInfo.FileName" class="img-thumbnail friendsPic" width="150" />
                                }
                                else
                                {
                                    <img src="~/lib/images/accountAvatar.png" alt="@fileInfo.FileName" class="img-thumbnail friendsPic" width="150" />
                                }
                            </div>

                            <div class="ms-3 w-50">
                                <p class="fs-5 text-start mb-0 fw-normal cutLongWord">@fileInfo.FullName</p>

                                <p class="text-muted text-start cutLongWord fs-10"> @fileInfo.Title | @fileInfo.Company </p>


                                <div class="connect socials">
                                    @{
                                        <a href="@fileInfo.InstagramLink" class="connect" target="_blank"><i class="fab fa-instagram"></i></a>

                                        <a href="@fileInfo.TwitterLink" class="connect" target="_blank"><i class="fab fa-twitter"></i></a>

                                        <a href="@fileInfo.LinkedInLink" class="connect" target="_blank"><i class="fab fa-linkedin"></i></a>

                                    }

                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="connect" type="button">@fileInfo.Location</button>
                        </div>
                    </div>

                </div>


            }
        }

    </div>
</div>
